<div class="product-content product-wrap clearfix">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
      <div class="product-image">
        <img src="https://imgs.search.brave.com/j5Lre0bzrUz9L6Fu-qCwgwXMPysyqRkUywvHFTOBvm4/rs:fit:200:200:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy80NTE2ODMtMjAw/LnBuZw" alt="194x228" class="img-responsive">
        <span class="tag2 hot">
							HOT
						</span>
      </div>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
      <div class="product-deatil">
        <h5 class="name">
          <a href="#">
            {{product?.productName}} <span>Category</span>
          </a>
        </h5>
        <p class="price-container">
          <span>$ {{product?.productPrice}}</span>
        </p>
        <span class="tag1"></span>
      </div>
      <div class="description">
        <p>{{product?.productDescription}} </p>
      </div>
      <div class="product-info smart-form">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <a (click)="doneClick()" (change)="refreshPage()" class="btn btn-success">Add to cart</a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="rating">
              <label for="stars-rating-5"><i class="fa fa-star"></i></label>
              <label for="stars-rating-4"><i class="fa fa-star"></i></label>
              <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
              <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
              <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
