<div class="card mb-2 ">
  <div class="card-body ">
    <div class="d-flex flex-column flex-lg-row gap-2">
      <span class=" avatar primary avatar-text rounded-3 me-4 mb-2">XD</span>
      <div class="row flex-wrap">
        <div class="col-sm-4">
          <h2 class="text-info">{{product?.productName}}</h2>
<!--          <span class="badge bg-danger">WORLDWIDE</span> <span class="badge bg-primary">$ {{product?.productPrice}}</span>-->
        </div>
        <div class="col-sm-4 py-5">
          <span class="badge bg-secondary">$ {{[product?.productPrice]}}</span>
          <span class="badge bg-secondary">{{[product?.productDescription]}}</span>

        </div>
        <div class="col-sm-3 text-lg-end">
          <a class="btn btn-primary stretched-link" (click)="doneClick()">DELETE</a>
        </div>
      </div>
    </div>
  </div>
</div>

